# Gmail SMTP credentials for contact form
# To set up:
# 1. Go to https://myaccount.google.com/security
# 2. Enable 2-Step Verification
# 3. Go to https://myaccount.google.com/apppasswords
# 4. Create an App Password (select "Mail" and "Other")
# 5. Copy the 16-character password below

SMTP_EMAIL=ankitgupta310802@gmail.com
SMTP_PASSWORD=your_gmail_app_password_here
